/*

 banner圖片更新(後台)的樣式

*/

#bannerImageFormTop,
#bannerImageFormBottom {
    border: 1px solid #006D8B;
    box-sizing: border-box;
    border-radius: 20px;  
    height: auto;
    width: 80%;
    margin: auto;
}

#bannerImageFormTop div:nth-child(1),
#bannerImageFormBottom div:nth-child(1) {
    border-radius: 18px 18px 0 0;
}

@media screen and (max-width:750px) {
    #bannerImageFormTop,
    #bannerImageFormBottom {
        margin: 0 auto;        
        width: auto;
    }    
}