/*

首頁-5 修改(後台)的樣式

*/

#backendIndexFiveUpdateForm {
    border: 1px solid #006D8B;
    box-sizing: border-box;
    border-radius: 20px;
    height: auto;
    width: 100%;
    margin: auto;
}

#backendIndexFiveUpdateForm {
    width: 70%;
}

#backendIndexFiveUpdateForm div:nth-child(1) {
    border-radius: 18px 18px 0 0;
}

@media screen and (max-width:750px) {

    #backendIndexFiveUpdateForm {
        margin: 0 auto;
        width: auto;
    }
}