/*

 忘記密碼的樣式

*/
#formForgotPassword {
    border: 1px solid #006D8B;
    box-sizing: border-box;
    border-radius: 20px;  
    width: 55%;
    margin: auto;
}

#formForgotPassword div:nth-child(1) {
    border-radius: 18px 18px 0 0;
}

@media screen and (max-width:750px) {
    #formForgotPassword {
        margin: 0 auto;        
        width: auto;
    }    
}